<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de espera del evento</title>
    <%- include('./fragments/head.ejs') %>
</head>
<body>
    
    <%- include('./fragments/header.ejs') %>
    <p><%=ident%></p>
    <p><%=facultades.length%></p>
    <p><%=eventos.length%></p>
    <p><%=lista.length%></p>
    <%- include('./fragments/footer.ejs') %>

    
</body>
</html>