<!-- El menú dropdown que se muestra al hacer clic -->
<div class="dropdown-menu dropdown-menu-end p-2 mt-2 shadow ajustes">
    <form id="formAccesibilidadTema" action="/accesibilidad/Tema/<%=usuario.id%>" method="post">
       <span>Tema</span>
       
       <ul class="list-unstyled d-grid gap-1 p-2 rounded-3 mx-0 shadow">
            <li><button name="tema" type="submit" class="dropdown-item rounded-2 <%= accesibilidad.tema == 'predeterminado' ? 'active' : '' %>" value="predeterminado" aria-label="Activar modo predeterminado">Predeterminado</button></li>
            <li><button name="tema" type="submit" class="dropdown-item rounded-2 <%= accesibilidad.tema == 'claro' ? 'active' : '' %>" value="claro" aria-label="Activar modo claro">Claro</button></li>
            <li><button name="tema" type="submit" class="dropdown-item rounded-2 <%= accesibilidad.tema == 'oscuro' ? 'active' : '' %>" value="oscuro" value="oscuro" aria-label="Activar modo oscuro">Oscuro</button></li>
       </ul>
    </form>

    <form id="formAccesibilidadLetra" action="/accesibilidad/Letra/<%=usuario.id%>" method="post">
       <span class="mt-2">Letra</span>
       <ul class="list-unstyled d-grid gap-1 p-2 rounded-3 mx-0 shadow">
            <li><button name="letra" type="submit" class="dropdown-item rounded-2 <%= accesibilidad.letra == 'normal' ? 'active' : '' %>" value="normal" aria-label="Activar tamaño de letra normal">Normal</button></li>
            <li><button name="letra" type="submit" class="dropdown-item rounded-2 <%= accesibilidad.letra == 'grande' ? 'active' : '' %>" value="grande" aria-label="Activar tamaño de letra grande">Grande</button></li>
            <li><button name="letra" type="submit" class="dropdown-item rounded-2 <%= accesibilidad.letra == 'muy grande' ? 'active' : '' %>" value="muy grande" aria-label="Activar tamaño de letra muy grande">Muy grande</button></li>
       </ul>

    </form>
</div>