<div class="card cardEvento" id="evento<%=evento.id%>" tabindex="0">
    <div class="card-body">

        <form id="formularioEventos<%= evento.id %>">

            <div class="mb-3">
                <input type="text" class="form-control bg-transparent border-0 text-center fs-4" name="titulo" id="titulo<%= evento.id %>" placeholder="<%= evento.titulo %>" value="<%= evento.titulo %>" required disabled>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control bg-transparent border-0 fs-6" name="descripcion" id="descripcion<%= evento.id %>" placeholder="<%= evento.descripcion %>" value="<%= evento.descripcion %>" required disabled>
            </div>
                
            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-calendar-event me-2"></i>
                <input type="date" class="form-control bg-transparent border-0 fs-6 ps-0" name="fecha" id="fecha<%= evento.id %>" placeholder="<%= evento.fecha %>" value="<%= evento.fecha %>" value="<%= evento.fecha %>" value="<%= evento.fecha %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-clock me-2"></i>
                <input type="time" class="form-control bg-transparent border-0 fs-6 ps-0" name="hora" id="hora<%= evento.id %>" placeholder="<%= evento.hora %>" value="<%= evento.hora %>" value="<%= evento.hora %>" value="<%= evento.hora %>" required disabled>
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-hourglass-split me-2"></i>
                <input type="time" class="form-control bg-transparent border-0 fs-6 ps-0" name="duracion" id="duracion<%= evento.id %>" placeholder="<%= evento.duracion %>" value="<%= evento.duracion %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-geo-alt me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="ubicacion" id="ubicacion<%= evento.id %>" placeholder="<%= evento.ubicacion %>" value="<%= evento.ubicacion %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-person-fill me-2"></i>
                <input class="form-control bg-transparent border-0 fs-6 ps-0" type="number" name="capacidad_actual<%=evento.capacidad_actual%>" id="capacidad_actual<%=evento.capacidad_actual%>" placeholder="<%=evento.capacidad_actual%>" value="<%=evento.capacidad_actual%>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-person me-2"></i>
                <input type="number" class="form-control bg-transparent border-0 fs-6 ps-0" name="capacidad_maxima_string" id="capacidad_maxima<%= evento.id %>" placeholder="<%= evento.capacidad_maxima %>" value="<%= evento.capacidad_maxima %>" required disabled>
            </div>

            <!-- <input type="hidden" name="id" value="<%= evento.id %>"> -->
                <% if (!index) { %>
                    <% if (usuario.rol === "asistente") { %>
                        <button class="btn btn-primary mt-1 mb-1" type="button" onclick="enviar_accion('/asistentes/anular_evento', <%= evento.id %>)" aria-label="Anular inscripción">Anular inscripción</button>
                    <% } else { %>
                        <% if (evento.id_organizador === usuario.id) { %>
                            <div class="d-flex gap-1">
                                <button id="editarEvento<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button" onclick="habilitarEdicion(<%= evento.id %>)" aria-label="Editar evento">Editar</button>
                                <button id="guardarEvento<%= evento.id %>" class="btn btn-primary mt-1 mb-1 ocultar" type="button" onclick="enviar_accion('/organizadores/editar_evento', <%= evento.id %>)" aria-label="Guardar evento">Guardar</button>
                                <button id="cancelarEvento<%= evento.id %>" class="btn btn-secondary mt-1 mb-1 ocultar" type="button" onclick="deshabilitarEdicion(<%= evento.id %>)" aria-label="Cancelar edición de evento">Cancelar</button>
                                <button id="eliminarEvento<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button" onclick="enviar_accion('/organizadores/eliminar_evento', <%= evento.id %>)" aria-label="Eliminar evento">Eliminar</button>
                                <!-- <button id="verListaEspera<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button"><a class="text-decoration-none text-white" href="/organizadores/lista_espera/<%= evento.id %>" target="_blank" rel="noopener noreferrer">Ver lista de espera</a></button> -->
                                <a href="/organizadores/lista_espera/<%= evento.id %>" target="_blank" rel="noopener noreferrer">
                                <button id="verListaEspera<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button" aria-label="Ver lista de espera">Ver lista de espera</button></a>
                                <a href="/organizadores/lista_asistentes/<%= evento.id %>" target="_blank" rel="noopener noreferrer">
                                <button id="verListaEspera<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button" aria-label="Ver lista de asistentes">Ver lista de asistentes</button></a>
                            </div>
                            <p>Estadísticas de asistencia: <%= 100 * (evento.capacidad_actual / evento.capacidad_maxima) %>&#37</p>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <% if (new Date(evento.fecha).toLocaleDateString("es-ES").replace(/\//g, '-') < new Date().toLocaleDateString("es-ES").replace(/\//g, '-')) { %> 
                        <button class="btn btn-primary mt-1 mb-1" type="button"  aria-label="Ver comentarios"><a href="/comentarios/<%=evento.id%>" target="_blank" class="text-decoration-none text-white" rel="noopener noreferrer">Ver comentarios</a></button>
                    <% } else {%>
                        <% if (usuario && usuario.rol === "asistente") { %>
                            <button class="btn btn-primary mt-1 mb-1" type="button" onclick="enviar_accion('/asistentes/inscribir_evento', <%= evento.id %>)" aria-label="Inscribirse en el evento" >Inscribirse</button>
                        <% } %>
                    <% } %>
                <% } %>

            <div class="card-footer mt-3">
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="tipo_evento" id="tipo_evento<%= evento.id %>" placeholder="<%= evento.tipo_evento %>" value="<%= evento.tipo_evento %>" required disabled>
            </div>
        </form>

    </div>
</div>