<div class="card">
    <div class="card-body">

        <form id="formulario<%= evento.id %>" action="" method="post">


            <div class="mb-3">
                <input type="text" class="form-control bg-transparent border-0 text-center fs-4" name="titulo" id="titulo<%= evento.id %>" placeholder="<%= evento.titulo %>" required disabled>
            </div>

            <input type="text" class="form-control bg-transparent border-0 fs-6" name="descripcion" id="descripcion<%= evento.id %>" placeholder="<%= evento.descripcion %>" required disabled>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-calendar-event me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="fecha" id="fecha<%= evento.id %>" placeholder="<%= evento.fecha %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-clock me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="hora" id="hora<%= evento.id %>" placeholder="<%= evento.hora %>" required disabled>
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-hourglass-split me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="duracion" id="duracion<%= evento.id %>" placeholder="<%= evento.duracion %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-geo-alt me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="ubicacion" id="ubicacion<%= evento.id %>" placeholder="<%= evento.ubicacion %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-person-fill me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="capacidad_actual_string" id="capacidad<%= evento.id %>" placeholder="<%= evento.capacidad_actual %>" required disabled>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-person me-2"></i>
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="capacidad_maxima_string" id="capacidad_maxima<%= evento.id %>" placeholder="<%= evento.capacidad_maxima %>" required disabled>
            </div>

            <input type="hidden" name="id" value="<%= evento.id %>">

            <% if (!index) { %>
                <% if (usuario.rol === "asistente") { %>
                    <button class="btn btn-primary mt-1 mb-1" type="submit" onclick="enviar_accion('anular', <%= evento.id %>)">Anular inscripción</button>
                <% } else { %>
                    <% if (evento.id_organizador === usuario.id) { %>
                        <div class="d-flex gap-1">
                            <button id="editarEvento<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button" onclick="habilitarEdicion(<%= evento.id %>)">Editar</button>
                            <button id="guardarEvento<%= evento.id %>" class="btn btn-primary mt-1 mb-1 ocultar" type="submit" onclick="enviar_accion('editar', <%= evento.id %>)">Guardar</button>
                            <button id="cancelarEvento<%= evento.id %>" class="btn btn-secondary mt-1 mb-1 ocultar" type="button" onclick="deshabilitarEdicion(<%= evento.id %>)">Cancelar</button>
                            <button id="eliminarEvento<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="submit" onclick="enviar_accion('eliminar', <%= evento.id %>)">Eliminar</button>
                            <!-- <button id="verListaEspera<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button"><a class="text-decoration-none text-white" href="/organizadores/lista_espera/<%= evento.id %>" target="_blank" rel="noopener noreferrer">Ver lista de espera</a></button> -->
                            <a href="/organizadores/lista_espera/<%= evento.id %>" target="_blank" rel="noopener noreferrer">
                            <button id="verListaEspera<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button">Ver lista de espera</button></a>
                            <a href="/organizadores/lista_asistentes/<%= evento.id %>" target="_blank" rel="noopener noreferrer">
                            <button id="verListaEspera<%= evento.id %>" class="btn btn-primary mt-1 mb-1" type="button">Ver lista de asistentes</button></a>

                        </div>
                    <% } %>
                <% } %>
            <% } else { %>
                <% if (usuario && usuario.rol === "asistente") { %>
                    <button class="btn btn-primary mt-1 mb-1" type="submit" onclick="enviar_accion('inscribir', <%= evento.id %>)">Inscribirse</button>
                <% } %>

            <% } %>

            <div class="card-footer mt-3">
                <input type="text" class="form-control bg-transparent border-0 fs-6 ps-0" name="tipo_evento" id="tipo_evento<%= evento.id %>" placeholder="<%= evento.tipo_evento %>" required disabled>
            </div>
        </form>

    </div>
</div>