<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header class="mx-0 d-flex justify-content-between align-items-center bg-warning sticky-top">
    <a href="http://www.ucm.es" target="_blank" rel="noopener noreferrer">
        <img src="/resources/logo.png" alt="Logotipo" class="ms-5 logo">
    </a>

    <div class="d-flex align-items-center gap-2 me-3">

        <button class="dropdown-toggle btn border-0 bg-transparent d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <span class="material-symbols-rounded fs-2 d-flex align-items-center">
                notifications
            </span>
        </button>

        <!-- Notifiaciones -->
        <form class="dropdown-menu p-0">
          <div class="card">
            <h5 class="card-header">Notificaciones</h5>
            <div class="card-body">
              <h5 class="card-title">Recordatorio para el evento del dia x</h5>
              <p class="card-text">No olvides asiste a tu evento</p>
            </div>
          </div>
        </form>

         
        <% if (!usuario) { %>
          <button class="btn border-0 bg-transparent d-flex align-items-center inicio" data-bs-toggle="modal" data-bs-target="#modalLogin">
              <span class="fs-4">
                  Log In
              </span>
          </button>
                
          <button class="btn border-0 bg-black d-flex align-items-center registrar"  data-bs-toggle="modal" data-bs-target="#modalSignUp">
              <span class="fs-4">
                  Sign Up
              </span>
          </button>
        <% } else { %>

          <div class="d-flex align-items-center justify-content-between px-3 bg-black text-white usuario gap-4">
            <button type="button" class="btn btn-transparent text-white" data-bs-toggle="modal" data-bs-target="#modalEditarPerfil">

            <img src="/imagen/<%= usuario.id %>" alt="Foto de usuario" class="rounded-circle"  width="100"/>

              <span class="fs-5"> 
                <%= usuario.nombre %>
              </span>
            </button>
              

              <a href="/logOut" class="text-white d-flex align-items-center text-decoration-none">
                <span class="material-symbols-rounded fs-2" href="/logOut">
                    logout
                </span>
              </a>
          </div>
        <% } %>


         <button class="dropdown-toggle btn border-0 bg-transparent d-flex align-items-center" data-bs-toggle="dropdown" aria-label="Abrir ajustes de tema y letra" title="Ajustes de tema y letra">
             <span class="material-symbols-rounded fs-2">
                settings
             </span>
         </button>

        <!-- El menú dropdown que se muestra al hacer clic -->
        <div class="dropdown-menu dropdown-menu-end p-2 mt-2 shadow ajustes">
            <span>Tema</span>
            <ul class="list-unstyled d-grid gap-1 p-2 rounded-3 mx-0 shadow" id="Tema">
                <li><button class="dropdown-item rounded-2" value="Claro" aria-label="Activar modo claro">Claro</button></li>
                <li><button class="dropdown-item rounded-2" value="Oscuro" aria-label="Activar modo oscuro">Oscuro</button></li>
                <li><button class="dropdown-item rounded-2 active" value="Predeterminado" aria-label="Activar modo predeterminado">Predeterminado</button></li>
            </ul>
            <span class="mt-2">Letra</span>
            <ul class="list-unstyled d-grid gap-1 p-2 rounded-3 mx-0 shadow" id="Letra">
                <li><button class="dropdown-item rounded-2 active" value="Normal" aria-label="Activar tamaño de letra normal">Normal</button></li>
                <li><button class="dropdown-item rounded-2" value="Grande" aria-label="Activar tamaño de letra grande">Grande</button></li>
                <li><button class="dropdown-item rounded-2" value="Muy grande" aria-label="Activar tamaño de letra muy grande">Muy grande</button></li>
            </ul>
        </div>
      </div>


    </div>

    <!-- Funcionamiento del dropdown -->
     <script src="/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</header>

<!-- Modales -->
<% if(!usuario){%>
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="/login" method="post">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Log In</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <label for="correo" class="form-label">Correo</label>
          <input type="text" class="form-control" name="correoLogin" id="correoLogin" placeholder="Ingresa tu correo (@ucm.es)" pattern="^[a-zA-Z0-9]+@ucm\.es$" required>

          <label for="contrasena" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="contrasenaLogin" id="contrasenaLogin" placeholder="Ingresa tu contraseña" minlength="4" maxlength="50" required>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- Notifiaciones -->
<form class="dropdown-menu p-4">
  <div class="mb-3">
    <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
  </div>
  <div class="mb-3">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck2">
      <label class="form-check-label" for="dropdownCheck2">
        Remember me
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>


<div class="modal fade" id="modalSignUp" tabindex="-1" aria-labelledby="modalSignUp" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="/signUp" method="POST" enctype="multipart/form-data">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa tu usuario" required>

          <label for="correo" class="form-label">Correo</label>
          <input type="text" class="form-control" name="correo" id="correo" placeholder="Ingresa tu correo (@ucm.es)" pattern="^[a-zA-Z0-9]+@ucm\.es$" required>

          <label for="contrasena" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="contrasena" id="contrasena" placeholder="Ingresa tu contraseña" minlength="4" maxlength="50" required>

          <label for="telefono" class="form-label">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingresa tu teléfono" pattern="^[0-9]*$" required>
          
          <label for="facultad" class="form-label">Facultad</label>
          <select name="id_facultad" id="facultad" class="form-select">
            <option value="" disabled selected>Selecciona una opción</option>

            <% facultades.forEach(facultad => { %>
            <option value= "<%= facultad.id %>">  <%= facultad.nombre %>  </option>
            <% })%>

          </select>

          <label for="rol" class="form-label">Rol</label>
          <select name="rol" id="rol" class="form-select">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="organizador">Organizador</option>
            <option value="asistente">Asistente</option>
          </select>

          <label for="foto">Foto</label>
          <input type="file" name="foto">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

      </form>

    </div>
  </div>
</div>
<% } else { %>
    <!-- Modal -->
  <div class="modal fade modal-xl" id="modalEditarPerfil" tabindex="-1" aria-labelledby="modalEditarPerfil" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div id="carouselExample" class="carousel slide" data-bs-wrap="false">

            <div class="modal-header d-flex" id="informacion">
              <button class="w-100 btn btn-transparent text-dark boton-encabezado activo border border-1 border-solid border-secondary" id="Perfil" data-bs-target="#carouselExample" data-bs-slide="prev">Editar perfil</button>
              <div class="border-start divisor"></div>
              <button class="w-100 btn btn-transparent text-dark boton-encabezado border border-1 border-solid border-secondary" id="Gestion" data-bs-target="#carouselExample" data-bs-slide="next">Eventos</button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
              <%- include('./perfil.ejs') -%>
              </div>
              <div class="carousel-item">
                  <% if (usuario.rol === "organizador") { %>
                      <%- include('./gestion.ejs') -%>
                  <% } else { %>
                      <%- include('./asistente.ejs', { eventosInscritos: eventosInscritos || null }) %>
                  <% } %>
              </div>
            </div>

          </div>

        </div>

      </div>

      <script src="/js/editarPerfil.js"></script>
    </div>
  
<% } %> 