<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header class="mx-0 d-flex justify-content-between align-items-center bg-warning sticky-top">
    <a href="http://www.ucm.es" target="_blank" rel="noopener noreferrer">
        <img src="/resources/logo.png" alt="Logotipo" class="ms-5 logo">
    </a>

    <div class="d-flex align-items-center gap-2 me-3">

        <% if (!usuario) { %>
            <button class="btn border-0 bg-transparent d-flex align-items-center inicio" data-bs-toggle="modal" data-bs-target="#modalLogin" aria-label="Identificarse">
                <span class="fs-4">
                    Log In
                </span>
            </button>
            
            <button class="btn border-0 bg-black d-flex align-items-center registrar"  data-bs-toggle="modal" data-bs-target="#modalSignUp" aria-label="Registrarse">
                <span class="fs-4">
                    Sign Up
                </span>
            </button>
        <% } else { %>
            <button id="botonNotificaciones" class="dropdown-toggle btn border-0 bg-transparent d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" aria-label="Notificaciones">
                <span class="material-symbols-rounded fs-2 d-flex align-items-center">
                    notifications
                </span>
            </button>
    
            <%- include('./notificaciones.ejs') %>

            <div id="perfilHeader" class="d-flex align-items-center justify-content-between px-3 bg-black text-white usuario gap-4">
                <button type="button" class="btn btn-transparent text-white" data-bs-toggle="modal" data-bs-target="#modalEditarPerfil" aria-label="Editar perfil">

                <img src="/imagen/<%= usuario.id %>" alt="Foto de usuario" class="rounded-circle border border-white border-1" width="25" onerror="this.src='/resources/icon-default.png'"/>

                <span class="fs-5"> 
                    <%= usuario.nombre %>
                </span>
                </button>
                

                <a href="/logOut" class="text-white d-flex align-items-center text-decoration-none">
                    <span class="material-symbols-rounded fs-2" href="/logOut">
                        logout
                    </span>
                </a>
            </div>
            
            <button class="dropdown-toggle btn border-0 bg-transparent d-flex align-items-center" data-bs-toggle="dropdown" aria-label="Abrir ajustes de tema y letra" title="Ajustes de tema y letra">
                <span class="material-symbols-rounded fs-2">
                   settings
                </span>
            </button>
    
            <%- include('./accesibilidad.ejs') %>
        <% } %>

      </div>

    </div>
    
</header>

<!-- Modales -->
<% if(!usuario){ %>

  <%- include('./logIn.ejs') %>
  <%- include('./signUp.ejs') %>

<% } else { %>

  <%- include('./infoUsuario.ejs') %>
  
<% } %> 