<!-- Notificaciones -->
<div class="dropdown-menu p-0">

  <form id="formRecordatorios">
    <span class="fs-5 ms-1">Recordar eventos</span>
    <ul class="list-unstyled d-flex justify-content-center gap-1 p-2 rounded-3 mx-0 shadow">
      <!-- Poner el value en minutos -->
      <li><button name="tiempo" type="submit" class="dropdown-item rounded-2 <%= usuario.recordatorio == '30' ? 'active' : '' %>" value="30" aria-label="">30 mins</button></li>
      <li><button name="tiempo" type="submit" class="dropdown-item rounded-2 <%= usuario.recordatorio == '60' ? 'active' : '' %>" value="60" aria-label="">1 h</button></li>
      <li><button name="tiempo" type="submit" class="dropdown-item rounded-2 <%= usuario.recordatorio == '1440' ? 'active' : '' %>" value="1440" aria-label="">1 d</button></li>
    </ul>
  </form>
  <form id="formEliminarNotificacion">
  <div  class="mostrarNotificaciones">
    
    <% if(notificaciones) {%>
      <% notificaciones.forEach(function(notificacion) { %>
        <div id="notificacion<%= notificacion.id %>" class="card m-2">
          <h5 class="card-header d-flex justify-content-between">
            <%= notificacion.tipo %>
                <button type="submit" class="btn-close ms-auto" aria-label="Cerrar"></button>
                <input type="hidden" name="id" value="<%= notificacion.id %>">
          </h5>
          <div class="card-body">
            <h5 class="card-title"><%= notificacion.mensaje %></h5>
            <p class="card-text text-secondary"><%= new Date(notificacion.fecha).toLocaleDateString('es-ES') %></p>
          </div>
        </div>
      <% }); %>
    <% } else {%>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Notificaciones</h5>
          <p class="card-text">No hay mensajes pendientes</p>
        </div>
      </div>
    <% } %>   
  </form>
  </div>
  <script src="/js/notificaciones.js"></script>
</div>