<form class="perfil" id="formEditarPerfil" action="/editarPerfil" method="POST" enctype="multipart/form-data">

    <div class="modal-body" >

        <div class="mb-3">
            <img src="/imagen/<%= usuario.id %>" alt="Foto de usuario" class="rounded-circle"  width="100" onerror="this.src='/resources/icon-default.png'"/>
            <input type="file" class="form-control" name="foto" id="editarFoto" accept="image/*" disabled>
        </div>

        <div class="mb-3">
            <label for="editarNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="editarNombre" placeholder="<%= usuario.nombre %>" required disabled>
        </div>
        
        <div class="mb-3">
            <label for="editarCorreo" class="form-label">Correo</label>
            <input type="text" class="form-control" name="correo" id="editarCorreo" placeholder="<%= usuario.correo %>" pattern="^[a-zA-Z0-9]+@ucm\.es$" required disabled>
        </div>
        
        <div class="mb-3">
            <label for="editarContrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="contrasena" id="editarContrasena" placeholder="<%= '*'.repeat(usuario.contrasena.length) %>" minlength="4" maxlength="50" required disabled>
        </div>
        
        <div class="mb-3">
            <label for="editarTelefono" class="form-label">Telefono</label>
            <input type="tel" class="form-control" name="telefono" id="editarTelefono" placeholder="<%= usuario.telefono %>" pattern="^[0-9]*$" required disabled>
        </div>

        <div class="mb-3">
            <label for="facultad" class="form-label">Facultad</label>
            <select name="id_facultad" id="editarFacultad" class="form-select" required disabled>
                <option value="<%= usuario.id_facultad %>">
                    <%= facultades.find(facultad => facultad.id == usuario.id_facultad)?.nombre %>
                </option>
    
                <!-- Resto de las opciones -->
                <% facultades.forEach(facultad => { %>
                    <% if (facultad.id != usuario.id_facultad) { %>
                    <option value="<%= facultad.id %>">
                        <%= facultad.nombre %>
                    </option>
                    <% } %>
                <% }) %>
            </select>
        </div>

        <input type="hidden" name="id" value="<%= usuario.id %>">
    </div>
    
    <div class="modal-footer">
        <button id="cerrarEdicion" type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cerrar">Cerrar</button>
        <button id="cancelarEdicion" type="button" class="btn btn-danger" aria-label="Cancelar">Cancelar</button>
        <button id="guardar" type="submit" class="btn btn-primary" aria-label="Guardar">Guardar</button>
        <button id="habilitarEdicion" type="button" class="btn btn-primary me-0" aria-label="Editar">Editar <i class="bi bi-pencil-fill"></i></button>
    </div>

    <script src="/js/editarPerfil.js"></script>

</form>

